#banner
{
	margin-top: 100px;
	position:relative;
}

#banner img{
	width: 100%;
	height: 100%;
}

#banner .contenedor
{
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fcf8f8;
	padding:10px;
   
}

#banner h3
{
	font-family: 'Merienda', cursive;
    
	text-shadow: 3px 3px 3px black;
}


#banner a:hover
{
	background: rga(51,51,51.0.5);
}



@media (min-width: 1024px){
#banner h2
{
	font-size:32px;
}

}