*{
    margin:0px;
	padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Molengo', sans-serif;
    
}
header{
	width: 100%;
	height: 120px;
    background-color: red;
    color: white;
    position: fixed;
	top:0;
	left:0;
	z-index: 100;
    font-family: 'Merienda', cursive;
	padding: 10px;
	margin:0px;
   
}


.contenedor
{
	width: 98%;
	margin:auto;
	cursor: pointer;
	display:inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
}

header .logo
{
	height: 100px;
}

#encabezado
{
	padding:20px;
	width:70%;
}
#menu{
    width: 50%;
    flex-wrap: wrap; 
}

main{
	
}


.contenedor2
{
	width: 90%;
	margin:auto;
	
}

.titulo {
	margin-top: 30px;
	margin-bottom: 30px;
}
p{
    margin-top: 20px;
	line-height: 1.5em;
	font-size: 18px;
}
.renglon
{
    display:flex;
    flex-direction: row;
}
.izquierda
{
    width: 70%;
}
.derecha
{
    width: 30%;
}

.imgnota
{
    width: 300px;
	padding: 20px;
}

.imgilustra
{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 5px solid #fff;

}

#imagenes
{

    height: 500px;
	width: 100%;
	background: url(../imagenes/centro4.jpg) repeat;
	background-size: cover;
	
	margin-top: 120px;

}

.resaltado{

	font-weight: bolder !important;
}


ul{
	line-height: 2em;
	font-size:large;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;	
}

.modo1{
	
	background-color:#fff;
	padding-top: 50px;
	padding-bottom: 50px;
}


.modo2{
	
	background-color:rgb(187, 153, 133);
	padding-top: 50px;
	padding-bottom: 50px;
}

/*Menu*/
#menu-bar
{
	display: none;
}

header label
{
	float: right;
	font-size:28px;
	margin: 6px 0;
	cursor:pointer;
}

.menu
{
	position: absolute;
	top:120px;
	left:0;
	width: 100%;
	height: 100vh;
/*	background: rgba(51,51,51,0.9);*/
	transition: all 0.5s;
	transform: translateX(-100%);
}

.menu a
{
	display: block;
	color: #fff;
	height: 50px;
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover
{
	background:  solid rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu
{
	transform: translateX(0%);
}

footer{
	background-color: red;
	color:white;
	align-items: center;
}

.sociales img{
	height: 30px;
}

@media (min-width: 1024px)
{
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float:right;
		display:flex;
	}


	.menu a
	{
		border:none;
	}

	header label
	{
		display:none;
	}
}
/*Fin Menu*/


@media (max-width: 600px)
{
			#imagenes
		{
			width: 100%;
			background: url(../imagenes/lago2.jpeg) no-repeat;
			background-size: cover;
			margin: 0%;
		
		}
		
	
}
