

*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

h1
{
    font-size: 28px;
}

body
{
    font-family: 'Molengo', sans-serif;
}

header
{
	width:100%;
	height:100px;
	background: rgb(199, 7, 7);
	color: #fff;
	position: fixed;
	top:0;
	left:0;
	z-index: 100;
    font-family: 'Merienda', cursive;
	display: block;
    
  
}

.contenedor
{
	width: 98%;
	margin:auto;
	cursor: pointer;
	align-items:flex-start ;
}

h1
{
	float: left;
    padding: 20px;
}

h2	{
	padding: 30px;
}

header .contenedor
{
	display: table;
}

section
{
	width: 100%;
	margin-bottom: 25px;
}

#bienvenidos
{
	text-align: justify;
}

#bienvenidos p
{
	padding: 30px;
	line-height: 1.5em;
}


.renglon
{
    display:flex;
    flex-direction: row;
}
.izquierda
{
    width: 600%;
}
.derecha
{
    width: 40%;
}
footer .contenedor
{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
}
.copy
{
	font-size: 20px;
}

.sociales
{
	width: 100%;
	text-align: center;
	font-size: 28px;
}

.sociales a
{
	color: #333;
	text-decoration: none;
}


#mail{
	
	padding:20px;
	align-content: left;
	line-height: 3em;

}

#mail form
{
	font-family: 'Nunito Sans', sans-serif;
}

#mail input{
	height: 30px;
	
}


#mail textarea{
	height: 80px;
	
}


@media (min-width: 768px)
{
	.sociales{
		width: auto;
	}
	footer .contenedor
	{
		justify-content: space-between;
	}
}

@media (min-width: 1024px){
	.contenedor 
	{
		width: 1000px;
	}
}



